<configuration>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>filename</key>
            <defaultValue>libyear</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${filename}" class="ch.qos.logback.core.FileAppender">
                <file>${filename}.log</file>
                <append>false</append>
                <encoder>
                    <pattern>%d [%thread] %level %mdc %logger{35} -%kvp -%msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="SIFT" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
